.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    /* background-image: ; */
    margin-top: 100px;
}
body{
    background-color: rgb(32,33,36);
}
.how{
    color: white;
}